<div class='intro'>
	<p class='intro__daily tk-atlas'>
		<strong>Updated daily</strong>
	</p>
	<h1 class='intro__hed tk-atlas'>
		<strong>NBA Last Two Minute Report</strong>
	</h1>
	<p class='intro__byline'>By
		<a href='https://twitter.com/codenberg' target='_blank'>Russell Goldenberg</a>
	</p>
	<p class='intro__updated tk-atlas'>Last updated {{ date }}</p>
	<div class='intro__dek'>
		<p>
			The NBA has been
			<a href='http://official.nba.com/nba-last-two-minute-reports-archive/' target='_blank'>reviewing</a> the officiating of the last two minutes of close games as part of a transparency initiative. This project
			is an on-going effort to enhance this transparency by making the data more accessible.
		</p>
		<p>
			Since March 2015, the NBA has reviewed
			<span class='summary__calls'>
				<strong>{{summary.num_calls.value}}</strong>
			</span> plays from
			<span class='summary__games'>
				<strong>{{summary.num_games.value}}</strong>
			</span> games. In those
			<span class='summary__minutes'>
				<strong>{{summary.minutes_played.value}}</strong>
			</span> minutes of action, the officials have missed or incorrectly called
			<span class='summary__incorrect'>
				<strong>{{summary.num_calls_incorrect.value}}</strong>
			</span> plays, or about
			<span class='summary__percent'>
				<strong>{{summary.percent_incorrect.value}}%</strong>
			</span> of all calls reviewed. This amounts to
			<span class='summary__pergame'>
				<strong>{{summary.num_calls_incorrect_per_game.value}}</strong>
			</span> wrong decisions in the final minutes of each close game.
		</p>
	</div>
</div>